/*? global clearing */
*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
:root {
  background-color: #222;
  color: aliceblue;
}
.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  border: 3px solid white;
  padding: 12px;
  border-radius: 30px;
}
.content:hover {
  background-color: crimson;
  color: black;
  transition: .5s ease-in-out;
  cursor: pointer;
}
.bar-top {
  width: 100%;
  height: 15px;

  position: fixed;
  top: 0;
  left: 0;
  animation: program-horizontal,program-color;
  animation-timeline: scroll();
  transform-origin: 0%;
}
.bar-button {
  width: 100%;
  height: 15px;
  position: fixed;
  bottom: 0;
  left: 0;
  animation: program-horizontal,program-color;
  animation-timeline: scroll();
  transform-origin: 100%;
}
.bar-left {
  width: 15px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  animation: program-vertikal, program-color;
  animation-timeline: scroll();
  transform-origin: 0 100%;
}

.bar-right {
  width: 15px;
  height: 100%;
  position: fixed;
  buttom: 0;
  right: 0;
  animation: program-vertikal,program-color;
  animation-timeline: scroll();
  transform-origin: 0 0%;
}

@keyframes program-horizontal {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

@keyframes program-vertikal {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}

@keyframes program-color {
  0% {
    background-color: blue;
  }
  50% {
    background-color: chartreuse;
  }
  100% {
    background-color: aqua;
  }
}