*,
html {
  margin: 0;
  padding: 0;
}
body {
  background-color: blue;
}
.judul-luar {
  background-color: bisque;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}
.judul {
  style: flex;
  justify-content: center;
  align-items: center;
  font-size: 90px;
}
.nav-bar {
  background-color: #222;
  width: 100%;
  height: 10vh;
}
.ul-navbar {
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
}

.li-navbar {
  list-style: none;
  padding: 20px;
  color: white;
}
.li-navbar:hover {
  background-color: white;
  transition: 0.3s;
  transition-delay: 0ms;
  border-radius: 50px;
}

.gampar-iduk {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}
.gambar-satu {
  height: 250px;
  width: 500px;
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}
.konten-a {
  height: 280px;
  width: 500px;
  flex-direction: column;
  font: size 60px;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 50px;
}
.klik-disini {
  background-color: black;
  font-size: 100px;
}
.footer-luar {
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}
.footer-tengah {
  color: blue;
}
#biodata {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  height: 100px;
  widht: 100px;
  background: #222;
  border-radius: 40px;
}
